/* Colors */
$black: #26253b;
$pure-black: #000;
$dark-grey: #7d7d7d;
$pure-white: #fff;
$grey: #cacaca;
$light-grey: #f1f1f1;

$dark-blue: #201f3a;
$light-blue: #445278;

$light-yellow: #f2f2c5;

$dark-green: #2c6664;
$light-green: #7eaa7c;

$red: #e7563c;
$dark-red: #af4835;

/* Fonts */
$font-family-sans-century: "Open Sans","Century Gothic", CenturyGothic, AppleGothic, sans-serif;

/* breakpoints */
$mobile: 480px;
$tablet: 768px;
