.player-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    &--inactive {
        background: grey;
    }

    &--button {
        display: block;

        &_inactive {
            display: none;
        }
    }
}
