.button-main {
    border: none;

    color: $pure-white;
    background-color: $dark-blue;

    width: 60%;
    padding: 20px 0;

    border-radius: 5px;

    font-size: 16px;
    font-family: $font-family-sans-century;

    box-shadow: 0px 5px 15px -5px $black;

    cursor: pointer;

    &--loadTeam {
        margin: 50px 0 15px 0;

        &:hover {
            background-color: $light-blue;
        }

    }

    &--newTeam {
        margin: 15px 0 50px 0;

        background-color: $dark-green;

        &:hover {
            background-color: $light-green;
        }
    }
}

.button-delete {
    border: solid 2px $grey;
    border-radius: 5px;

    padding: 10px 20px;
    color: $grey;

    font-family: $font-family-sans-century;

    background-color: transparent;
    margin-top: 15px;

    cursor: pointer;

    &:hover {
        background-color: $grey;
        color: $pure-white;
    }
}

.button-load {
    border: none;
    border-radius: 5px;

    padding: 10px 20px;
    margin-top: 15px;
    color: $pure-white;

    font-family: $font-family-sans-century;

    background-color: $dark-green;

    cursor: pointer;

    &:hover {
        background-color: $light-green;
    }
}
