.player-card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 100%;

    width: 175px;
    height: 110px;

    border: solid 5px $light-grey;
    border-radius: 10px;

    box-shadow: 0px 5px 15px -5px $light-grey;

    margin: 7px;

    &--inactive {
        background: $light-grey;
    }

    &--button {
        display: flex;
        justify-content: space-between;
        padding: 10px;

        cursor: pointer;

        &_inactive {
            display: none;
        }
    }

    &--img {
        //max-width: 100%;
        width: 30%;
        height: 50px;
        width: 50px;
    }
}
