.modal {
    padding: 10px;

    color: $black;

    border-radius: 5px;

    display: flex;
    flex-direction: column;
}

.modal > .header {
    padding: 5px;
}

.modal > .content {
    width: 100%;
    padding: 10px 5px;
}

.modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
}

.modal > .close {
    cursor: pointer;

    position: absolute;
    display: block;

    padding: 2px 6px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 16px;
    background: $dark-blue;
    color: $pure-white;

    border-radius: 20px;
    border: none;
}

.modal > .input {
    padding: 10px;

    border-radius: 5px;
    border: solid 3px $grey;

    font-family: $font-family-sans-century;

    margin: 10px 0;
}

.button-save {
    background-color: $light-green;
    color: $pure-white;
    border-radius: 5px;
    border: none;

    padding: 10px;

    cursor: pointer;

    &:hover {
        background-color: $dark-green;
    }
}

.button-delete-modal {
    background-color: $red;
    color: $pure-white;
    border-radius: 5px;
    border: none;

    padding: 10px;

    cursor: pointer;

    &:hover {
        background-color: $dark-red;
    }
}

.modal > .error {
    color: $red;
}
